{% extends "base.html" %}

{% block content %}

{% include 'char/_character_top.html' %}

<div class="content-info-block">

<div class="container-fluid">
<div class="row">

    <div class="col-md-5">

    <form method="POST">
        {{ move_form.hidden_tag() }}
        Map: {{ move_form.x_coord.label }} {{ move_form.x_coord }}
        {{ move_form.y_coord.label }} {{ move_form.y_coord }}<br>
        {{ move_form.layer.label }} {{ move_form.layer }}
        {{ move_form.submit() }}
    </form>
    {% if character %}
    {% if character.map.transition_to %}
    <nav class="navbar py-0" data-bs-theme="light">
        <div class="container-fluid">
        <ul class="navbar-nav">
        
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('char.transition', char_name=character.name) }}">
                    Transition to {{ character.map.transition_to.map_to.layer }}</a> 
            </li>      
        </ul>
        </div>
    </nav>
        {% if character.map.transition_to.condition.operator == 'has_item' %}
            {% set item = Item.get_item_from_db(character.map.transition_to.condition.code) %}
            Has item:
                <a href="{{ url_for('main.item', id=item.id) }}">{{ item.name }}</a>
        {% elif character.map.transition_to.condition.code == 'gold' %}
            Cost: Gold x{{ character.map.transition_to.condition.value }}
        {% elif character.map.transition_to.condition.operator == 'cost' and character.map.transition_to.condition.code != 'gold' %}
            Cost: 
            {% set item = Item.get_item_from_db(character.map.transition_to.condition.code) %}
                <a href="{{ url_for('main.item', id=item.id) }}">{{ item.name }}</a>
        {% endif %}

    {% endif %}
    {% endif %}

    </div>

    <div class="col-md-4">

        {% if character.map %}
        <b>Map name: </b>{{ character.map.name }}<br>
        <b>Layer: </b>{{ character.map.layer }}<br>
        {% if character.map.content_type %}
        <b>Content: </b>{{ character.map.content_type }}<br>

        {% if character.map.monster %}
        <b>Monster: </b>
            <a href="{{ url_for('main.monster', id=character.map.monster.id) }}">{{ character.map.monster.name }}</a>
        {% elif character.map.resource %}
        <b>Resource: </b>
            <a href="{{ url_for('main.resource', id=character.map.resource.id) }}">{{ character.map.resource.name }}</a>
        {% elif character.map.npc %}
        <b>NPC: </b>
            <a href="{{ url_for('main.npc', id=character.map.npc.id) }}">{{ character.map.npc.name }}</a>
        {% else %}
            <b>Code: </b>{{ character.map.content_code }}
        {% endif %}
        {% endif %}
        {% endif %}

    </div>

        <div class="col-md-3">
        {% if character.map %}
        <img width="145" src="{{ url_for('static', filename=character.map.image_name) }}">
        {% endif %}
    </div>

</div>
</div>


{% if character %}
{% if character.map.content_type == 'bank' %}

<hr>

    <table class="char-table">
    <tr>
    <form method="POST">
        <td class="char-table">{{ deposit_form.hidden_tag() }}
        {{ deposit_form.deposit_item.label }}</td>
        <td class="char-table">{{ deposit_form.deposit_item }}</td>
        <td class="char-table">{{ deposit_form.deposit_quantity.label }} {{ deposit_form.deposit_quantity }}</td>
        <td class="char-table">{{ deposit_form.deposit_submit() }}</td>
    </form>
    </tr>

    <tr>
    <form method="POST">
        <td class="char-table">{{ withdraw_form.hidden_tag() }}
        {{ withdraw_form.withdraw_item.label }}</td>
        <td class="char-table">{{ withdraw_form.withdraw_item }}</td>
        <td class="char-table">{{ withdraw_form.withdraw_quantity.label }} {{ withdraw_form.withdraw_quantity }}</td>
        <td class="char-table">{{ withdraw_form.withdraw_submit() }}</td>
    </form>
    </tr>

    </table>

<hr>

        {% include 'char/_inventory.html' %}

{% endif %}


{% endif %}
</div>
{% endblock %}

