
<div class="content-info-block">
    <h4><a class="content-info-block-link" href="{{ url_for('main.achievement', id=achievement.id) }}">{{ achievement.name }}</a></h4>
    <div class="item-description">{{ achievement.description }}</div>
    {% if achievement.completed %}
        <div class="text-center"><b>Completed at: </b>{{ achievement.completed_at }}<br></div>
    {% endif %}<br>

    <b>Points: </b>{{ achievement.points }}<br>
    <b>Type: </b>{{ achievement.achiev_type }}<br>

    <table class="char-table">
    {% for objective in achievement.objectives %}
        <tr>
            <td class="char-table">
        {% if objective.monster %}
            <b>Target: </b>
            <a href="{{ url_for('main.monster', id=objective.monster.id) }}">{{ objective.monster.name }}</a>
        {% elif objective.item %}
            <b>Target: </b>
            <a href="{{ url_for('main.item', id=objective.item.id) }}">{{ objective.item.name }}</a>
        {% endif %}
            </td>

    {% if objective.progress < objective.total %}
        <td class="char-table">
        {{ objective.progress }}
            <progress value="{{ objective.progress }}" max="{{ objective.total }}">   
            </progress>
        {{ objective.total }}<br>
        </td>
    {% endif %}
    
    </tr>
    {% endfor %}
    </table>

    <b>Reward gold: </b>{{ achievement.reward_gold }}<br>
    {% for item in achievement.reward_items %}
        <b>Reward Item: </b> <a href="{{ url_for('main.item', id=item.item.id) }}">{{ item.item.name }}</a>
        {{ item.quantity }}<br>
    {% endfor %}
</div>
